io_params {
    input_params {
        input_sequences src/vdj_labeler/test/vdj_labeling.fastq
        vj_alignment_file src/vdj_labeler/test/vdj_labeling.csv

	germlines {
	     igh {
                 variable_genes src/fast_ig_tools/germline/human/IGHV.fa
                 diversity_genes src/fast_ig_tools/germline/human/IGHD.fa
                 join_genes src/fast_ig_tools/germline/human/IGHJ.fa
             }   
	     igl {
                 variable_genes src/fast_ig_tools/germline/human/IGLV.fa
                 join_genes src/fast_ig_tools/germline/human/IGLJ.fa
             }   
	     igk {
                 variable_genes src/fast_ig_tools/germline/human/IGKV.fa
                 join_genes src/fast_ig_tools/germline/human/IGKJ.fa
             }   
	}
    }

    output_params {
        output_dir vdj_test
        log_filename log.properties    
    }
}

run_params {
    max_memory		250
    thread_count	16
}